/doc/
/lib/
/build/
.shards/
/examples/*/lib/
/examples/*/doc/
/examples/*/bin/

*.rendered.html
/.cache
__pycache__

# Libraries don't need dependency lock
# Dependencies will be locked in application that uses them
/shard.lock
